/* styles.css */

/* Custom styling for header color */
.packagelist-table #clickableTable thead {
    background-color: #007BFF; /* Blue color for the header */
    color: white; /* White text for better visibility on the header */
  }
  
  /* Custom styling for alternating blue-gray rows */
  .packagelist-table #clickableTable tbody tr:nth-child(odd) {
    background-color: #E9ECEF; /* Gray color for odd rows */
  }
  
  .packagelist-table #clickableTable tbody tr:nth-child(even) {
    background-color: #617386; /* Blue color for even rows */
    color: white; /* White text for better visibility on blue rows */
  }

  .packagelist-table {
    max-height: 20%;
    width: 100%;
    border-collapse: collapse;
  }
  .description-table {
    max-height: 50%;
    width: 100%;
    border-collapse: collapse;
  }
