{% extends 'base.html' %}

{% block content %}
<!-- Sidebar -->
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
              Aptly Repositories
          </li>
          {% for item in page_data %}
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="tooltip" data-placement="right" title="{{item.DefaultComponent}}">
              {{item.Name}}
            </a>
          </li>
          {% endfor %}
          <!-- Add more sidebar options as needed -->
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="content">
      Repo Contents go here
    </main>
  </div>
</div>

  {% endblock %}